@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #__next,
    body {
        @apply min-h-screen w-full max-w-full overflow-x-hidden;
    }
}

@layer components {
}

@layer utilities {
    .bg-radial-glow {
        background: radial-gradient(
            ellipse at bottom,
            rgb(68 64 60) 0%,
            rgb(28, 25, 23) 100%
        );
    }

    .bg-fade::before {
        z-index: 2;
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        background: rgba(255, 255, 255, 0.2);
    }

    .bg-fade {
        position: relative;
    }

    .bg-fade * {
        z-index: 3;
        position: relative;
    }

    .menu-button span {
        @apply absolute block md:hidden w-8 h-1 mb-[5px] bg-stone-300 rounded-full z-10;
    }

    .menu-button span:nth-child(1) {
        @apply left-0.5 top-0;
    }
    .menu-button span:nth-child(2) {
        @apply left-0.5 top-6;
    }
    .menu-button span:nth-child(3) {
        @apply left-0.5 top-3;
    }
}
